/*
 * -------------------------------------------------
 * h3achipimputation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */





manifest {
    name            = 'grbot/chipimputation'
    author          = """H3ABioNet"""
    homePage        = 'https://github.com/grbot/chipimputation'
    description     = """imputation"""
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.04.0'
    version = '1.0dev'
}
